*.pcap
*~
*.swp
*.swo
*.npy
*.tar.gz
*.tgz
*.pkl

__pycache__/
*.py[cod]


build/
*build*/
nsdieval/

# excluding conquest traces (att)
conquest/conquest.json
conquest/old/nsdieval/conquestrand.json
flowletswitching/flowletswitching.json
fridge/fridge.json
hash/hash.json
precision/old/precisionrand.json
rtt/old/nsdieval/rttrand.json
rtt/rtt.json
precision/precision.json
cms/old/nsdieval/cms_symrand.json
starflow/starflow.json

